.repository
/target
/bin
src/test/resources/ypcnv-*
/lib/log4j.properties.jar
/lib/*/*
/launch.sh
hs_err_pid*.log
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.metadata
.idea
/build-site/
/javadoc/
/misc/
