.repository
target
bin
hs_err_pid*.log
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.metadata
.idea
/doxy-doc
/javadoc
misc/
ypcnv*.log
/ypcnv/
src/test/resources/ypcnv-*
/lib/log4j.properties.jar
/launch.sh
