[Desktop Entry]
Encoding=UTF-8
Name=YPCnv
GenericName=YPCnv
GenericName[en_GB]=YPCnv
Comment=YPCnv - Yellow pages converter
Comment[en_GB]=YPCnv - Yellow pages converter
Type=Application
Exec=ypcnv
Icon=ypcnv.svg
Terminal=true
Categories=Office;Utilities;

